<% include partials/header.ejs %>


<div class="ui form regulated">
<h1 class="ui dividing header">New Post</h1>    
<form action="/blogs" method="POST" class="field">
      <div class="field">
            <label>Name and Img</label>
            <div class="two fields">
                  <div class="field">
                        <input type="text" name="blog[title]" placeholder="Title">
                  </div>
                  <div class="field">
                        <input type="text" name="blog[img]" placeholder="Url of Img">
                  </div>
            </div>
      </div>
    
    <div id="fsepe">
        <label>Description</label>
        <textarea rows="5" type="text" name="blog[body]" ></textarea>
    </div>
    
    <button class="ui submit violet button">SUBMIT</button>
    
</form>
<a class="ui basic green button" href="/blogs">Back</a>
</div>





<% include partials/footer.ejs %>



  
  
     